<%= f.simple_fields_for :address do |a| %>
	<%= a.input :line1, label: 'Street Address' %>
	<%= a.input :line2, label: 'Line2' %>
	<div class="form-inline">
	<%= a.input :city, label: 'City', :input_html => {:class => 'span3'} %>
	<%= a.input :state, label: 'State', :input_html => {:class => 'span1'} %>
	<%= a.input :zipcode, label: 'Zip Code', :input_html => {:class => 'span2'}%>
</div>
<% end %>